h2, .coolPara {
  border: 7px dashed darkgreen;
  padding: 4px;
  background-color: burlywood;
}

p {
  color: chocolate;
}

thead>th {
  color: crimson;
}

tbody td{
  color: blueviolet;
}

li~li{
  background-color: darkseagreen;
}

th+th{
  color: darkred;
}